/VD1/.idea/
/VD2/.idea/
/VD3/.idea/
/VD1/ArefinShimon_20942174_VD1.zip
/VD1/Submission.zip
/VD1/VD1 copy.html
/VD1/income_evaluation_copy.csv
/VD2/nodejs-starter-code/nodejs-starter-code/node_modules/
/VD3/nodejs-starter-code/nodejs-starter-code/node_modules/
/VD3/nodejs-starter-code/node_modules/
/VD2/nodejs-starter-code/node_modules/
